# Python Basics

#### Here are 50 simple Python coding problems, covering the following topics:

- Console input and output
- Data types — integer, float, string and boolean
- Operators
- String
- Decision Control Structures — if, else and elif
- Repetition Control Structures — for and while loops
- Data Structures — lists, tuples, sets and dictionaries
- Comprehensions
- Functions and Recursion
- Functional Programming — lambda, map, filter and reduce

To revise the above topics refer [this article](https://medium.com/@helloworld.this.is.apoorva/how-to-get-started-with-python-c4a6954224ed)

### **1. Console Input and Output:**

Problem 1:
```python
Write a program that takes a user's name as input and prints a greeting message.

Input: Enter your name: Surya
Output: Hello Surya. Have a wondeful day.
```

In [1]:
name = input("Enter your name: ")
print(f'Hello {name}. Have a wonderful day')

Enter your name: Apoorva
Hello Apoorva. Have a wonderful day

Problem 2:
```python
Write a program that takes two numbers as input and prints their sum.

Input:
Enter fist number: 6
Enter second number: 7
Output: The sum of 6 and 7 is 13.
```

In [5]:
num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))
print(f'The sum of {num1} and {num2} is', num1+num2)

Enter first number: 2
Enter second number: 3
The sum of 2 and 3 is 5


Problem 3:
```python
Write a program that takes a sentence as input and prints the number of words in it.

Input: Enter sentence: It's a wonderful world
Output: Total words = 22
```

In [6]:
text = input('Enter a sentence: ')
print('Total words =', len(text))

Enter a sentence: Strawberry
Total words = 10

Problem 4:
```python
Write a program that takes a string of 3 numbers separated by commas as input and prints their sum.

Input:
Enter numbers: 4,5,6
Output: Sum = 15
```

In [9]:
a,b,c = input('Enter numbers: ').split(',')
sum = int(a)+int(b)+int(c)
print(f'Sum = {sum}')

Enter numbers: 4,6,8
Sum = 18

Problem 5:
```python
Write a program that takes two words as input and prints them in reverse order.

Input:
Enter two words: Good Day
Output: Day Good
```

In [10]:
w1,w2 = input('Enter two words: ').split()
print(w2,w1)

Enter two words: Thank you
you Thank

###**2. Data Types and Operators:**


Problem 6:
```python
Write a program that calculates the area of a rectangle given its length and width.

Input:
Enter length in cm: 2
Enter width in cm: 3
Output: Area of the rectangle is 6 cm squared.

```

In [13]:
l = float(input('Enter length in cm: '))
w = float(input('Enter width in cm: '))
area = round(l*w,2)
print(f'Area of the rectangle is {area} cm squared')

Enter length in cm: 2.2
Enter width in cm: 3.1
Area of the rectangle is 6.82 cm squared

Problem 7:
```python
Write a program that checks if a given number is even or odd.

Input: Enter a number: 4
Output: True
```

In [14]:
num = int(input('Enter a number: '))
remainder = num % 2
print(remainder == 0)

Enter a number: 5
False

Problem 8:
```python
Write a program that calculates the volume of a sphere given its radius.

Input:
Enter radius in cm: 2
Output: Volume = 33.51 cm³

Note: Display the volumn with 2 decimal places.
```

In [17]:
import math
radius = float(input('Enter radius in cm: '))
volume = round((4/3)*math.pi*pow(radius, 3),2)
print(f'Volume = {volume} cm\u00b3')

Enter radius in cm: 3.5
Volume = 179.59 cm³

Problem 9:
```python
Write a program that converts a temperature in Celsius to Fahrenheit.

Input: Enter temperature in degree Celsius: 100
Output: 212°F
```

In [21]:
tempCelsius = float(input('Enter temperature in Celsius: '))
tempFahrenheit = (tempCelsius * (9/5)) + 32
print(f'{tempFahrenheit}\u00b0F')

Enter temperature in Celsius: 37.5
99.5°F

Problem 10:
```python
Write a program that checks if a given input is an alphabet or not.

Input: Enter a input: 5
Output: False.
```

In [24]:
variable = input('Enter a input: ')
print(variable.isalpha())

Enter a input: hello
True

###**3. Strings:**



Problem 11:
```python
Write a program that counts the number of characters in a given string (excluding spaces).

Input:
Enter a string: This is going to be the best day of my life.
Output: 33
```

In [27]:
text = input('Enter a string: ')
print(len(text.replace(' ', '')))

Enter a string: An apple a day, keeps the doctor away.
31

Problem 12:
```python
Write a program that reverses a given string.

Input:
Enter a string: Ola
Output: alO
```

In [29]:
text = input('Enter a string: ')
print(text[::-1])

Enter a string: Orange
egnarO


Problem 13:
```python
Write a program that checks if a given word is a palindrome.

Input:
Enter a string: Madam
Output: Madam is a palindrome
```

In [31]:
text = input('Enter a string: ').lower()
reverse_text = text[::-1]
if text == reverse_text:
  print(f'{text} is a palindrome')
else:
  print(f'{text} is not a palindrome')

Enter a string: Malayalam
malayalam is a palindrome


Problem 14:
```python
Write a program that counts the occurrences of a specific character in a given string.

Input:
Enter a string: Madagascar
Enter specific character: a
Output: Charcater a occures 4 times in Madagascar.
```

In [2]:
text = input('Enter a string: ')
ch = input('Enter specific character: ')
freq = text.count(ch)
print(f'Character {ch} occurs {freq} times in {text}')

Enter a string: tomato
Enter specific character: o
Character o occurs 2 times in tomato


Problem 15:
```python
Write a program that converts the first letter of each word in a sentence to uppercase.

Input:
Enter a string: hyper text markup language
Output: Hyper Text Markup Language
```

In [3]:
text = input('Enter a string: ')
print(text.title())

Enter a string: golden hour
Golden Hour

###**4. Control Structures:**


Problem 16:
```python
Write a program that checks if a given number is positive, negative, or zero.
```

In [4]:
num = 23
if num > 0:
  print('positive')
elif num < 0:
  print('negative')
else:
  print('zero')

positive

Problem 17:
```python
Write a program that checks if a given year is a leap year.
```

In [5]:
year = 2000

# divided by 100 means century year (ending with 00)
# century year divided by 400 is leap year
if (year % 400 == 0) and (year % 100 == 0):
    print(f"{year} is a leap year")

# not divided by 100 means not a century year
# year divided by 4 is a leap year
elif (year % 4 ==0) and (year % 100 != 0):
    print(f"{year} is a leap year")

# if not divided by both 400 (century year) and 4 (not century year)
# year is not leap year
else:
    print(f"{year} is not a leap year")

2000 is a leap year


Problem 18:
```python
Write a program that prints the first 10 natural numbers using a while loop.
```

In [8]:
c = 1
while c<=10:
  print(c, end = ' ')
  c += 1

1 2 3 4 5 6 7 8 9 10

Problem 19:
```python
Write a program that prints the first 20 natural numbers in reverse order using a while loop.
```

In [10]:
c = 20
while c>0:
  print(c, end = ' ')
  c -= 1

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1


Problem 20:
```python
Write a program that finds the sum of all even numbers between 1 and 50 using a for loop.
```

In [12]:
sum = 0
for i in range(1,51):
  if i % 2 == 0:
    sum = sum + i

print(sum)

650

Problem 21:
```python
Write a program that finds the product of all odd numbers between 1 and 10 using a for loop.
```

In [15]:
product = 1
for i in range(1,11):
  if i % 2 != 0:
    product = product * i

print(product)

945

Problem 22:
```python
Write a program that checks if a given number is divisible by 5 using conditional expression.
```

In [17]:
num = 13
print('Divisible by 5' if num%5==0 else 'Not divisible by 5')

Not divisible by 5

###**5. Data Structures: lists, tuples, sets and dictionaries**


Problem 23:
```python
Write a program that creates a list of numbers and prints the largest number in the list.
```

In [19]:
lst = [32,54,12,7,87,4,63]
print(max(lst))

87

Problem 24:
```python
Write a program that creates a list of names and prints the names in alphabetical order.
```

In [20]:
lst = ['Surya', 'Chanda', 'Ritu', 'Salil', 'Mahak']
print(sorted(lst))

['Chanda', 'Mahak', 'Ritu', 'Salil', 'Surya']

Problem 25:
```python
Write a program that creates a list of numbers and find the count of a specific number.
```

In [21]:
lst = [2, 4, 6, 3, 6, 7, 1, 7, 6, 3, 9]
print(lst.count(6))

3


Problem 26:
```python
Write a program that creates a tuple of fruits and prints the third fruit in the tuple.
```

In [22]:
tup = ('apple', 'orange', 'mango', 'lemon', 'papaya')
print(tup[2])

mango

Problem 26:
```python
Write a program that creates a tuple of cities and prints the city with the longest name.
```

In [26]:
cities = ('Delhi', 'Mumbai', 'Tokyo', 'Paris', 'Bengaluru')

max_len = -1
for city in cities:
  if len(city) > max_len:
    max_len = len(city)
    res = city

print(res)

Bengaluru

Problem 27:
```python
Write a program that creates a tuple of names and return the index of a given name.
```

In [28]:
tup = ('Kiran', 'Karan', 'Kiya', 'Kriya')
tup.index('Kiya')

2


Problem 28:
```python
Write a program that creates a set of colors and prints the number of unique colors.
```

In [32]:
colors = {'red', 'green', 'violet', 'red', 'indigo', 'blue', 'green', 'yellow', 'orange'}
print(colors)

{'orange', 'blue', 'violet', 'green', 'indigo', 'yellow', 'red'}

Problem 29:
```python
Write a program that creates a set of numbers and prints the sum of all even numbers in the set.
```

In [33]:
nums = {1,2,3,4,5,6,7,8,9,10,9,8,7,6,5,4,3,2,1}
for n in nums:
  if n % 2 == 0:
    print(n, end=' ')

2 4 6 8 10

Problem 30:
```python
Write a program that creates two sets of numbers and prints the common numbers in both sets.
```

In [34]:
set1 = {1,23,3,42,5,64,7,9,0,33,55,43}
set2 = {42,21,52,64,76,9,40,33,35,4}
print(set1 & set2)

{64, 33, 42, 9}


Problem 31:
```python
Write a program that creates a dictionary of student names and their ages, and prints the age of a specific student.
```

In [35]:
student = {'Madhur':21, 'Somya':25, 'Abhay':18, 'Khushi':15}
print(student['Abhay'])

18

Problem 32:
```python
Write a program that creates a dictionary of book titles and their authors, and prints the book titles in alphabetical order.
```

In [36]:
books = {'War and Peace':'Leo Tolstoy', 'Waste Land':'T.S Eliot', 'Time Machine':'H.G Wells', 'The Tempest':'William Shakespeare'}
print(sorted(books))

['The Tempest', 'Time Machine', 'War and Peace', 'Waste Land']

Problem 33:
```python
Write a program that creates a dictionary of Country and their Capital city, and prints all the capitals.
```

In [40]:
country = {'India':'New Delhi', 'Japan':'Tokyo', 'France':'Paris', 'Bangladesh':'Dhaka'}
for capital in country.values():
  print(capital)

New Delhi
Tokyo
Paris
Dhaka

###**6. Comprehensions:**


Problem 34:
```python
Write a program that creates a list of squares of numbers from 1 to 10 using a list comprehension.
```

In [42]:
[x*x for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Problem 35:
```python
Write a program that creates a list of even numbers from 1 to 20 using a list comprehension.
```

In [43]:
[x for x in range(1, 21) if x%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]


Problem 36:
```python
Write a program that creates a set of vowels from a given sentence using a set comprehension.
```

In [45]:
text = 'umberella'
{x for x in text if x in 'aeiou'}

{'a', 'e', 'u'}


Problem 37:
```python
Write a program that change the data type (from int to str) of elements of the set using a set comprehension.
```

In [46]:
{str(x) for x in {1,2,3,4,5}}

{'1', '2', '3', '4', '5'}

Problem 38:
```python
Write a program that creates a dictionary with numbers as their key and cubes as their values using dictionary comprehension.
```

In [47]:
{x:x*x*x for x in [2,3,4]}

{2: 8, 3: 27, 4: 64}

Problem 39:
```python
Write a program that creates a dictionary with students and their marks and select only those which have marks more than 40 using a dictionary comprehension.
```

In [53]:
students = {'Kripa':89, 'Kriti':92, 'Kamla':38, 'Kavya':78}
{k:v for k,v in students.items() if v >= 40}

{'Kripa': 89, 'Kriti': 92, 'Kavya': 78}

###**7. Functions and Recursion:**


Problem 40:
```python
Write a function that calculates the greatest common divisor (GCD) of two numbers.
```

In [54]:
def gcd(a, b):

    # Find minimum of a and b
    result = min(a, b)

    while result:
        if a % result == 0 and b % result == 0:
            break
        result -= 1

    return result

print(gcd(12,14))

2

Problem 41:
```python
Write a function that generates all prime numbers up to a given limit.
```

In [55]:
def isPrime(n):
  #since 0 and 1 is not prime return false.
  if(n==1 or n==0):
    return False

  #Run a loop from 2 to n-1
  for i in range(2,n):
    #if the number is divisible by i, then n is not a prime number.
    if(n%i==0):
      return False

  #otherwise, n is prime number.
  return True

def generatePrime(limit):
  for i in range(limit+1):
    if isPrime(i):
      print(i)

generatePrime(10)

2
3
5
7


Problem 42:
```python
Write a function that checks if a given string is a palindrome.
```

In [56]:
def isPalindrome(s):
  left = 0
  right = len(s)-1
  while right>left:
    if s[left] != s[right]:
      return False
    left+=1
    right-=1

  return True

print(isPalindrome('Hello'))

False

Problem 43:
```python
Write a function that calculates the factorial of a given number using recursion.
```

In [57]:
def calFactorial(n):
  if n == 1:
    return n
  else:
    return n*calFactorial(n-1)

print(calFactorial(5))

120


Problem 44:
```python
Write a program that uses a recursive function to calculate the Fibonacci sequence.
```

In [59]:
def Fibonacci(n):
  if n<=1:
    return n
  else:
    return Fibonacci(n-1)+Fibonacci(n-2)

n=10
for i in range(n):
  print(Fibonacci(i))

0
1
1
2
3
5
8
13
21
34

###**8. Lambda, Map, Filter, Reduce:**



Problem 45:
```python
Write a program that squares all the elements in a list using map and lambda.
```

In [61]:
print(list(map(lambda x:x*x, [1,2,3,4,5])))

[1, 4, 9, 16, 25]

Problem 46:
```python
Write a program that calculates the square root of each element in a list using map and lambda.
```

In [65]:
import math
print(list(map(lambda x:math.sqrt(x), [1,4,9])))

[1.0, 2.0, 3.0]


Problem 47:
```python
Write a program that filters out even numbers from a list using filter and lambda.
```

In [66]:
print(list(filter(lambda x:x%2==0, [1,2,3,4,5])))

[2, 4]

Problem 48:
```python
Write a program that filters out words with less than 5 characters from a list of words using filter and lambda.
```

In [67]:
print(list(filter(lambda w:len(w)>5, ['rose', 'tulip', 'lily', 'sunflower'])))

['sunflower']


Problem 49:
```python
Write a program that finds the product of all elements in a list using reduce and lambda.
```

In [70]:
from functools import reduce
print(reduce(lambda a,b: a*b, [1,2,3,4,5]))

120

Problem 50:
```python
Write a program that finds the maximum element in a list using reduce and lambda.

```

In [72]:
from functools import reduce
print(reduce(lambda a,b: a if a>b else b, [1,2,5,3,4]))

5